<ul>
    <h3>Hombres</h3>
        {{#each usersMale}}
        <li>
            Nombre: {{this.first}} - Apellido: {{this.last}} - ID: {{this.id}} - Timestamp: {{this.timestamp}}               
        </li>
        {{/each}}

    <h3>Mujeres</h3>
        {{#each usersFemale}}
        <li>
            Nombre: {{this.first}} - Apellido: {{this.last}} - ID: {{this.id}} - Timestamp: {{this.timestamp}}               
        </li>
        {{/each}}
</ul>